<div class="container">
    <div class="row m-3">
        <div class="col-md-3 my-3" *ngFor ="let formation of formations">
            <div class="card" style="width: 18rem;">
                <img [src]="formation.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{formation.titre}}</h5>
                  <p class="card-text">{{formation.stackTechnique}}</p>
                  <p class="card-text">{{formation.domaine}}</p>
                  <span>{{ formation.dates}}</span>
                  <span>{{ formation.tarif}}</span>
                  <span>{{ formation.nombreDePlaces}}</span>
                  <a href="/formulaire" class="btn btn-primary">S'inscrire</a>
                </div>
              </div>
        </div>
    </div>
    
</div>
